@-ms-viewport {
  width: device-width;
}

body {
  font-family: sans-serif;
  text-align: center;
  color: #ffffff;
  background-color: #1b4353;
}
h2 {
  text-align: center;
  font-size: 200%;
}
h1 {
  text-align: center;
}
footer {
  font-family: sans-serif;
  text-align: right;
  color: white;
}
nav {
  font-family: sans-serif;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1d70a2;
  flex: 3;
  margin-top: 0;
}
li {
  float: left;
}
ul {
  list-style-type: none;
  margin: 5;
  padding: 0;
  overflow: hidden;
}
a {
  color: white;
  font-size: 100;
  letter-spacing: 2px;
  padding: 10px;
  display: inline-block;
  width: 100%;
  text-align: center;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
header {
  background-image: url("https://cdn.shopify.com/s/files/1/1034/3311/files/hydrangea-flowers-in-the-garden-picture-id927499422_1024x1024.jpg?v=1578384074");
  margin-bottom: 0;
}
.comments {
  text-align: right;
}

.before-after {
  display: flex;
}
.ad {
  font-size: 200%;
  font-weight: 200;
}
